* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-container {
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em 2em;
   color:black
}
.nav {
    padding-right: 2em;

}
ul {
    list-style: none;
    display: flex;
    gap: 2em;
   
}
a {
    text-decoration: none;
    color: black;
}
.hero {
  background: url(./image/Image\ \(1\).png);
  background-size: cover;
  background-position: center;
  height: 767px;
  position: relative;
  background-repeat: no-repeat;
    
}


.her {
    position: absolute;
    background-color: #FFF;
    top: 6rem;
    border-radius: 0 60px 60px 0;
    left: 0;
    max-width:325px ;
    max-height: 280px;
    padding: 3em 4em;
}
.her h1 {
margin-bottom: 1em;
}
.future {
    display: flex;
    width: 1280px;
    margin: 4em auto;
    gap: 0;
}
.future-pics {
    display: grid;
    grid-template-columns: 20rem 20rem;
    padding-left: 40px;
}
.future-text {
    background-color: #F2F0F2;
    border-radius: 0 60px 60px 0;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 0 60px 60px 0;
    display: flex;
}
.textt {
    max-width: 80%;
    margin: 0 auto;

   
}
.textt h1 {
    margin-bottom: 1em;
}

.feature-text {
    padding-top: 5rem;
    text-align: center;
   
}
.feature-text .textt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}
.textt h1{
    font-size: 3rem;
    font-weight: 700;
}
.textt p{
    max-width: 50%;
}


.icons {
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
    
}

.con {
    font-size: 40px;
}
.calender {
    border-radius: 10px;
    background-color: #E2F1E8;
    padding-left: 30px;
    padding-top: 30px;

}
    

.sof {
    font-size: 40px;
   

}
.sofa {
    border-radius: 10px;
    background-color: #E2F1E8;
    padding-left: 30px;
    padding-top: 30px;
}
    

.wif {
    font-size: 40px;
}
.wifi {
    border-radius: 10px;
    background-color: #E2F1E8;
    padding-left: 30px;
    padding-top: 30px;
    
}
.sms {
    font-size: 40px;
}
.message {
    border-radius: 10px;
    background-color: #E2F1E8;
    padding-left: 30px;
    padding-top: 30px;
    
}
@media (width:768px) {
    .hero {
        background-size: contain;
        background-position: top center;
        text-align: start;
        height: 100vh;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .future {
        flex-direction: column;
    }

    .future-pics {
        margin-top: -13rem;
    }
    .picss {
        grid-column: 2;
        grid-row: 1 ;
        border-radius: 0 60px 60px 0;
    }
    .piccs {
        grid-column:1 ;
        grid-row:2 ;
    }
    .future-text {
        width: 41.5rem;
        border-radius: 60px 60px 60px 60px;
        margin-left: 40px;
        height: 10rem;
        text-align: center;

    }
    .feature-text {
        margin-top: -7rem;
    }
    .icons {
        display: grid;
        grid-template-columns: 10rem 10rem 10rem 10rem;
        width: 30rem;
        grid-gap: 30px;
        padding-left: 15px;
    }

/* mobile screen of 480px by 767px */
}
@media (max-width: 480px) {
   .future {
    flex-direction: column;
   }
   .future-text {
    width:30rem;
    height: 20rem;
   }
   .future-pics {
    transform: scale(0.7);
    margin-left: -15rem;
    margin-top: -3rem;
   }
   .icons {
    flex-direction: column;
    gap: 2rem;
   }
   .feature-text h1 {
    width: 30rem;
   }
   .feature-text p {
    width: 70rem ;
   }

    
}
